<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet"href='estilo.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet"href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css'>
    
  </head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="#">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Senac_logo.svg/2560px-Senac_logo.svg.png" alt="" width="35" height="35">
          senac</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(página atual)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Pesquisar</button>
          </form>
        </div>
      </nav>


      <div class="container-fluid">
        <h1> Cadastro de Produto </h1>

        <form action="/salvarProduto" th:object="${produto}" method="POST">
            <div class="form-group">

                <label>id:</label>
                <input th:field="*{id}" type="text" class="form-control" placeholder="id" readonly="true">

                <label>Nome:</label>
                <input th:field="*{nome}" required type="text" class="form-control" placeholder="Digite seu Nome">
                
                 <label>Código de Barras:</label>
                <input th:field="*{codigoBarras}" type="text" class="form-control" placeholder="Digite seu Nome">
                
                  <label>Unidade Medida:</label>
                <input th:field="*{unidadeMedida}" type="text" class="form-control" placeholder="Digite seu Nome">
                
                 

              
             <div class="row">
                
                
                    <div class="col- md">
                    
                     <label>Estoque:</label>
                <input th:field="*{estoque}" type="text" class="form-control">
                
                    
                    </div>
                     <div class="col-md">
                     
                    <label>Preço de Custo:</label>
                <input th:field="*{precoCusto}" type="text" class="form-control">
                  
                     
                     </div>
                      <div class="col-md">
                      
                  <label>Preço de venda:</label>
                <input th:field="*{precoVenda}" type="text" class="form-control">
                     
                      
                      </div>
                       <div class="col-md">
                       
                    <label>Lucro:</label>
                <input th:field="*{lucro}" type="text" class="form-control">
                       
                       </div>
                        <div class="col-md">
                        
                   <label>Margem de Lucro:</label>
                <input th:field="*{margemLucro}" type="text" class="form-control" >
                      
                        
                        
               </div>
                
                
                
              </div>
         
			</div>

            <button type="submit" class="btn btn-info"> <i class="fa-solid fa-floppy-disk"></i> Salvar</button>
            <a class="btn btn-info" href="/administrativo"> <i class="fa-solid fa-right-from-bracket fa-flip-horizontal"></i> Voltar </a>
            <a class="btn btn-info" href="/listarProduto"> <i class="fa-solid fa-clipboard-list fa-xl" style="color: #ffffff;"></i> Listar </a>
            
        </form>
        


    </div>
      

    



    
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>